<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.colortype" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorType" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".EnfpActivity"
            android:exported="false" />
        <activity
            android:name=".EnfjActivity"
            android:exported="false" />
        <activity
            android:name=".EstjActivity"
            android:exported="false" />
        <activity
            android:name=".EntjActivity"
            android:exported="false" />
        <activity
            android:name=".EsfpActivity"
            android:exported="false" />
        <activity
            android:name=".EntpActivity"
            android:exported="false" />
        <activity
            android:name=".EsfjActivity"
            android:exported="false" />
        <activity
            android:name=".EstpActivity"
            android:exported="false" />
        <activity
            android:name=".InfjActivity"
            android:exported="false" />
        <activity
            android:name=".InfpActivity"
            android:exported="false" />
        <activity
            android:name=".IntjActivity"
            android:exported="false" />
        <activity
            android:name=".IntpActivity"
            android:exported="false" />
        <activity
            android:name=".IsfjActivity"
            android:exported="false" />
        <activity
            android:name=".IsfpActivity"
            android:exported="false" />
        <activity
            android:name=".IstjActivity"
            android:exported="false" />
        <activity
            android:name=".IstpActivity"
            android:exported="false" />
        <activity
            android:name=".EnfjActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>